@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme inline {
    --font-sans:
        Poppins, ui-sans-serif, system-ui, -apple-system, 'Segoe UI',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer base {
    html,
    body,
    input,
    textarea,
    select,
    button {
        font-family: var(--font-sans);
    }

    ::placeholder {
        font-family: var(--font-sans);
    }
}
